.coba {
 width: 40%;
 height: 350px;
 border: 1px solid black;
 border-radius: 15px;   
 text-align: center;
 margin: 200px auto;
 padding: 25px 10px 5px 10px;
}
.button {
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
    border: 8px double black;
}

.button1{
    font-family: 'Courier New', Courier, monospace;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
}