@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,300&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
}
.container {
  /* background-color: #DFD3C3; */
  background-color: #273538;
  height: 2000px;
  width: 100%;
}
.wrapper {
  background-color: #191919;
  justify-content: space-between;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 80px;
  z-index: 1000;
  position: fixed;
  top: 0;
}
.brand {
  display: flex;
  padding-left: 30px;
  padding-top: 10px;
}
.first {
  font-size: 35px;
  padding-left: 10px;
  font-weight: 600;
  color: #00DFA2;
}
.last {
  color: white;
  font-size: 35px;
  font-weight: 400;
  padding-left: 10px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation > li {
  list-style-type: none;
  padding: 15px;
  color: whitesmoke;
}
li {
  color: white;
}
li:hover{
  color: #00DFA2;
  cursor: pointer;
}
.contact {
  padding: 20px;
}

.content {
  color: black;
  margin-top: 80px;
  margin-left: 100px;
  font-size: 30px;
  padding-top: 50px;
}
.welcome{
  /* color: #FF6D28; */
  color: #EAE9EF;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: #00DFA2;
}
.button1:hover{
  background-color: #472D2D;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
.curly {
  color : #00DFA2;
  font-weight: 1000;
}
.foto {
  width: 600px;
  float: right;
  margin-top: -180px;
}
.gambar {
  margin-left: 50px;
  /* background-color: aqua; */
  width: 1300px;
  height: 200px;
}
.htmll{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
.jjs{
    max-width: 125px;
    max-height:100%;
    vertical-align: middle;
    padding-left: 50px;
}
.ccs{
    max-width: 125px;
    max-height:100%;
    vertical-align: middle;
}
.gt {
  max-width: 100%;
  max-height:100%;
  vertical-align: middle;
  padding-left: 50px;
}
.rc {
  max-width: 100%;
  max-height:100%;
  vertical-align: middle;
  padding-left: 5px;
}

.halBawah {
  background-color: #191919;
  margin-top: 400px;
  width: 100%;
  height: 300px;
  color: white;
}
.companyGoals p{
  color : #00DFA2;
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Roboto Serif', serif; */
  font-family: 'Lora', serif;
  padding-left: 100px;
  padding-top: 35px;
  font-size: 30px;
}
.goals{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: #00DFA2; */
  margin-left: 100px;
}
.goals1{
  font-size: 20px;
  color: #00DFA2;
  font-family: 'Roboto Serif', serif;
  display: grid;
  grid-column: 1/1;
  padding-top: 50px;
  /* grid-row: 1/2; */
}
.happy{
  color: white;
  padding-top: 5px;
  font-size: 12px;
  text-align: left;
}
.goals2{
  font-size: 20px;
  font-family: 'Roboto Serif', serif;
  color: #00DFA2;
  display: grid;
  grid-column: 2/3;
  padding-top: 50px;
}
.time {
  color: white;
  padding-top: 5px;
  font-size: 12px;
  text-align: left;
}
.goals3{
  font-size: 20px;
  font-family: 'Roboto Serif', serif;
  color: #00DFA2;
  display: grid;
  grid-column: 3/3;
  padding-top: 50px;
}
.trust {
  color: white;
  padding-top: 5px;
  font-size: 12px;
  text-align: left;
}
.judulFooter {
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Lora', serif;
  padding-top: 60px;
  padding-left: 600px;
  font-size: 50px;
  /* color: #5C8984; */
  color: #00DFA2;
  width: 300px;
  height: 50px;
}
.service {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 10px;
  margin-top: 50px;
}
.service1 {
  color: #47A992;
  font-size: 20px;
}
.webDevelopment {
  color: aliceblue;
  padding-top: 20px;
  font-size: 12px;
}
.service2{
  color: #47A992;
  font-size: 20px;
  padding-left: 20px;
}
.digitalMarketing {
  color: aliceblue;
  padding-top: 20px;
  font-size: 12px;
}
.service3{
  color: #47A992;
  padding-left: 20px;
  font-size: 20px;
}
.uxui{
  color: aliceblue;
  padding-top: 20px;
  font-size: 12px;
}
.service4{
  color: #47A992;
  padding-left: 20px;
  font-size: 20px;
}
.android{
  color: white;
  padding-top: 20px;
  font-size: 12px;
}
.thanks{
  text-align: center;
  font-size: 100px;
  margin-top: 300px;
  color: #00DFA2;
}
.thanks h1{
  font-family: 'Playfair', serif;
  font-size: 25px;
  color: aliceblue;
}
.contactUs{
  background-color: #20262E;
  color: white;
  font-size: 30px;
  height: 150px;
  margin-top: 20px;
  padding-left: 100px;
}
.listContact{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.instagram{
  color: white;
  display: flex;
  height: 50px;
}
.linked{
  color: wheat;
}

.copyright{
  color: white;
  text-align: center;
  padding-top: 10px;
}

/* ini adalah css profile */
.containerProfile{
    /* background-color: #DFD3C3; */
    /* background-color: #579BB1; */
    background-color: #E1D7C6;
    height: 3500px;
    width: 100%;
}
.wrapperProfile {
  background-color: #433D3C;
  justify-content: space-between;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 80px;
  z-index: 1000;
  position: fixed;
  top: 0;
}
.firstProfile {
  font-size: 35px;
  padding-left: 10px;
  font-weight: 600;
  color: #CBB279;
}
.lastProfile {
  color: white;
  font-size: 35px;
  font-weight: 400;
  padding-left: 10px;
}
.hellow{
  color: black;
  display: block;
  font-size: 90px;
}
.afdal {
  font-size: 50px;
  color: #20262E;
}
.jobs {
  color: #20262E;
  font-size: 20px;
}
.socialmedia {
  color: #20262E;
  padding-top: 100px;
}
.mysocialmedia{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.personal{
  padding-left: 80px;
}
.instagramAfdal{
  width: 80px;
}
.linkedAfdal{
  width: 80px;
}
.strength{
  /* background-color: #5B5B5B; */
  background-color: #20262E;
  height: 300px;
  margin-top: 350px;
  padding-top: 20px;
  padding-left: 80px;
}
.mystrength {
  font-size: 40px;
  color: #CBB279;
}
.listStrength{
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1300px;
}
.ambisi{
  font-size: 25px;
  color: #CDC2AE;
}

.isiAmbisi{
  padding-top: 20px;
  font-size: 14px;
  width: 380px;
  text-align: justify;
  color: #F4F9F9;
}
.presisi{
  font-size: 25px;
  color: #CDC2AE;
}
.isiPresisi{
  padding-top: 20px;
  font-size: 14px;
  width: 380px;
  text-align: justify;
  color: #F4F9F9;
}
.workHard{
  font-size: 25px;
  color: #CDC2AE;
}
.isiWork{
  padding-top: 20px;
  font-size: 14px;
  width: 380px;
  text-align: justify;
  color: #F4F9F9;
}
.skillProfile{
  font-size: 45px;
  font-family: 'Lora', serif;
  font-weight: bolder;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.wrapperSkill{
  display: flex;
  justify-content: space-around;
}
.wrapperSkill figcaption{
  text-align: center;
}
.garis{
  height: 10px;
  margin-top: 20px;
  background-color: #20262E;
}
.aboutProfile{
  padding-left: 80px;
  padding-top: 80px;
  animation-duration: 5s;
  animation-name: textin;
}
@keyframes textin {
  from {
    margin-bottom: 100%;
  }

  to {
    margin-bottom: 0;
  }
}

@keyframes slidein {
  from {
    margin-bottom: 200px;
    width: 800px;
  }

  to {
    margin-bottom: 0;
    width: 800px;
  }
}

.aboutProfile h1{
  font-size: 50px;
  font-family: 'Lora', serif;
}
.aboutProfile p{
  text-align: justify;
  width: 1300px;
  padding-top: 10px;
  display: flex;
}
.aboutProfile div{
  background-color: #00DFA2;
  width: 50px;
  height: 20px;
}
.afdalJob{
  padding-left: 80px;
  display: flex;
  padding-top: 50px;
  animation-duration: 6s;
  animation-name: slidein;
}
.afdalJob img{
  color: #472D2D;
  padding-left: 20px;
  padding-top: 15px;
}
.afdalJob figcaption {
  color: #433D3C;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.afdalJob p{
  color: #433D3C;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 20px;
}
.afdalJob p:hover{
  cursor: pointer;
  color: maroon;
  text-decoration: none;
}
.afdalWeb{
  background-color: white;
  width: 300px;
  height: 250px;
}

.afdalApp{
  margin-left: 80px;
  background-color: white;
  width: 300px;
  height: 250px;
}
.afdalApp img{
  padding-top: 15px;
  padding-left: 30px;
}
.education {
  background-color: #20262E;
  height: 650px;
  color: #CBB279;
  margin-top: 150px;
  padding-left: 80px;
  padding-top: 100px;
  display: flex;
}
.education h2{
  padding-top: 50px;
  font-size: 30px;
}
.course{
  margin-left: 350px;
}
.contactMe {
  display: flex;
  margin-left: 120px;
  margin-top: -300px;
}
.projectMe{
  background-color: #CBB279;
  width: 600px;
  height: 600px;

}
.projectMe h1{
  padding-left: 20px;
  padding-top: 50px;
  font-size: 50px;
  width: 500px;
}
.projectFor div{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 15px;
}
.projectFor p{
  padding-left: 20px;
  font-size: 20px;
}
.projectContact{
  margin-top: 50px;
  padding-left: 20px;
  font-size: 20px;
}
.projectEmail{
  margin-top: 50px;
  padding-left: 20px;
  font-size: 20px;
}
.inputForm{
  background-color: white;
  width: 600px;
  height: 600px;

}
.inputForm input{
  width: 400px;
  height: 30px;
  margin-left: 80px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 20px;
}
.inputForm textarea{
  margin-left: 80px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 400px;
  font-size: 20px;
}
.nameInput{
  margin-top: 100px;
}
.emailInput{
  margin-top: 40px
}
.areaInput{
  margin-top: 50px;
}
.inputForm button{
  width: 400px;
  margin-left: 80px;
}
/* .javascriptProfilepic{
  margin-left: -50px;
}
.captionJavascript{
  margin-left: -25px;
} */
/* .htmlProfile img{
  margin-left: -400px;
} */
/* .htmlProfilepic {
  margin-left: -200px;
} */