body {
    color: rgb(255, 208, 0);
    text-align: center;
}
#content{
    max-width: 960px;
    margin: auto;
    display: grid;
    /* grid-template-columns: 30% 30% 30%; */
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* grid-template-rows: 100px 200px 200px; */
    /* grid-auto-rows: 100px; */
    /* grid-column-gap: 60px; */
    /* grid-row-gap: 20px; */
    grid-gap: 20px

}
.kotak1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
/* bisa menggunakan start - end , bisa menggunakan grid-column: 4/10 */
/* .kotak2 {
    grid-column: 4/10;
} */

#content div {
    background: lightseagreen;
    padding: 30px;
}
#content div:nth-child(even){
    background: grey;
}
